<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div th:if="${accountList.size()==0}">
                        <h2>No Accounts yet!</h2>
                    </div>
                    <div th:unless="${accountList.size()==0}">
                        <h2 class="my-5">Accounts</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>UserId</th>
                                    <th>Status</th>
                                    <th>Balance</th>
                                    <th>Account Type</th>
                                    <th>CreationDate</th>
                                    <th>Delete</th>
                                    <th>Account Transactions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="account : ${accountList}">
                                    <td th:text="${account.getUserId()}"></td>
                                    <td th:text="${account.getAccountStatus()}"></td>
                                    <td th:text="${account.getBalance()}"></td>
                                    <td th:text="${account.getAccountType()}"></td>
                                    <td th:text="${account.getCreationDate()}"></td>
                                    <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${account.id})}">Delete</a></td>
      <!--                                    <td><a th:href="@{/delete?id={id}(id=${account.id})}">Delete</a></td>-->
                                    <td><a class="btn btn-success" th:href="@{/transactions/{id}(id=${account.id})}">Account Transactions</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a th:href="@{/create-form}" class="btn btn-primary">Create Account<i class="fas fa-user-plus ml-2"></i></a></p>
                    <p class="my-5"><a th:href="@{/make-transfer}" class="btn btn-primary">Make Transfer<i class="fas fa-user-plus ml-2"></i></a></p>
                </div>
            </div>
        </div>
    </body>
</html>
